* {
    margin: 0;
    padding: 0;
}

.all {
    
    .tx1{
        font-size: 0.45rem;
        text-align: center;
    }

    .tx2{
        font-size: 0.2rem;
        // text-align: left;
    }

    .account{
        font-size: 0.2rem;
    }

}
